<Configuration status="WARN">
    <Appenders>
        <RollingFile name="file" fileName="Logger/TakhreejHelper.log" filePattern="Logger/TakhreejHelper-%d{HHmmssSSS}.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="1 kB"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="AppLogger" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
